.search-icon-img {
  width: 5rem;
  height: 1.8rem;
  fill: $dark-grey;
}

.form-inline{
  flex-flow: row nowrap ;
}
.search-input{
  font: bold 2rem $fallback-fonts;
  @media screen and (min-width:$bootstrap_sm_breakpoint) {

  }
}

.navbar-brand{
  color: black;
  font: bold 6rem $fallback-fonts;
}
